<!DOCTYPE html>
<html>
<head>
    <title>Info - Add</title>
</head>
<body>
<h1>Add New Info</h1>
<form action="/gameinfo/insert" method="get">
    Era: <input name ="era" type ="text" />
    Maker: <input name="maker" type ="text" />
    <br />
    <input type="submit" />
</form>
</body>
</html>