<!DOCTYPE html>
<html>
<head>
    <title> Genre - Add</title>
</head>
<body>
<h1>Add New Genre</h1>
<form action="/genres/insert" method="get">
    Genre: <input name ="genre" type ="text" />
    <br />
    <input type="submit" />
</form>
</body>
</html>