<!DOCTYPE html>
<html>
<head>
    <title>UNION statement - View All</title>
</head>
<body>
<h1>Query using UNION </h1>
<table border="1">
    <tr>
        <th>Game Title</th>
        <th>Rating</th>
    </tr>
    <tr>
        <% for(var i=0; games.length > i; i++ ) { %>
        <td><%= games[i].game_title %></td>
        <td><%= games[i].rating %></td>
        <td>
    </tr>
    <% } %>
</table>
</body>
</html>