<!DOCTYPE html>
<html>
<head>
    <title>DISTINCT statement - View All</title>
</head>
<body>
<h1>Query using DISTINCT </h1>
<table border="1">
    <tr>
        <th>Controllers</th>
    </tr>
    <tr>
        <% for(var i=0; consoles.length > i; i++ ) { %>
        <td><%= consoles[i].controllers%></td>
        <td>
    </tr>
    <% } %>
</table>
</body>
</html>