<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <h1> CS 355 Project </h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <br /><a href="http://localhost:3000/games/all">Games View All</a>

    <br /><a href="http://localhost:3000/genres/all">Genres View All</a>

    <br /><a href="http://localhost:3000/consoles/all">Consoles View All</a>

    <br /><a href="http://localhost:3000/gameinfo/all">Game Information View All</a>

    <br /><a href="http://localhost:3000/queries/query1">IN query</a>

    <br /><a href="http://localhost:3000/queries/query2">EXISTS query</a>

    <br /><a href="http://localhost:3000/queries/query3">GROUP BY query</a>

    <br /><a href="http://localhost:3000/queries/query4">ORDER BY query</a>

    <br /><a href="http://localhost:3000/queries/query5">UNION query</a>

    <br /><a href="http://localhost:3000/queries/query6">DISTINCT query</a>

    <br /><a href="http://localhost:3000/queries/query7">Multiple Select Statements query</a>

    <br /><a href="https://github.com/rj545">Robert Rojas GitHub</a>
  </body>
</html>


