<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Welcome to <%= title %><%= subtitle %></p>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
    <br /><a href="/staticfile.html">Relative Link Example</a>
    <br /><a href="http://localhost:3000/staticfile.html">Absolute Link Example</a>
    <br /><a href="/template_example?first_name=Robert&last_name=Rojas"> Template Example</a>
    <br /><a href="/resume?first_name=Robert&last_name=Rojas&major=Computer Science" >Resume</a>
  </body>
</html>


