<!DOCTYPE html>
<html>
<head>
    <title>Game Title - Add</title>
</head>
<body>
<h1>Add New Game Title</h1>
<form action="/games/insert" method="get">
    Video Game Name: <input name ="game_title" type ="text" />
    Rating: <input name="rating" type ="text" />
    <br />
    <input type="submit" />
</form>
</body>
</html>