<!DOCTYPE html>
<html>
<head>
    <title>Game Genre - Add</title>
</head>
<body>
<h1>Add New Game Genre</h1>
<form action="/gamegenre/insert" method="get">
    Video Game Name: <input name ="games_id" type ="text" />
    Genre: <input name ="genre_id" type ="text" />
    <br />
    <input type="submit" />
</form>
</body>
</html>