<!DOCTYPE html>
<html>
<head>
    <title>Console Title - Add</title>
</head>
<body>
<h1>Add New Console Title</h1>
<form action="/consoles/insert" method="get">
    Console Name: <input name ="console_title" type ="text" />
    Controllers: <input name="controllers" type ="text" />
    <br />
    <input type="submit" />
</form>
</body>
</html>