<!DOCTYPE html>
<html>
<head>
    <title>Controllers - View All</title>
</head>
<body>
<h1>Controllers Available</h1>
<a href="/games/add">Add New Controller</a> <br />

<table border="1">
    <tr><th>Name</th><th>Actions</th><th>ID</th></tr>
    <% for(var i=0; controllers.length > i; i++ ) { %>
    <tr>
        <td>
            <a href="/controllers/?controller_id=<%= controllers[i].controller_id %>">
                <%= controllers[i].available_controllers %>
            </a>
        </td>
        <td>
            <a href='/controllers/edit/?controller_id=<%= controllers[i].controller_id %>'>
                Edit
            </a>
        </td>
        <td><%= controllers[i].controller_id %></td>
    </tr>
    <% } %>
</table>
</body>
</html>