<!DOCTYPE html>
<html>
<head>
    <title>Available Controllers - Add</title>
</head>
<body>
<h1>Add New Available Controllers</h1>
<form action="/controllers/insert" method="get">
    Available Controllers: <input name ="available_controllers" type ="text" />
    <br />
    <input type="submit" />
</form>
</body>
</html>